html, body {
    position: relative;
    height: 100%;
  } 
section
{
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    background-image: url('images/night.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh
}

main
{
    display: flex;
    flex-direction: column;
    width: 78%;
    height: 61%;
    background-color: rgba(88, 88, 88, 0.28);
    margin: 40px auto;
    position: relative;
    align-items: center;
    max-width: 600px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
}    

main .icon
{

    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
} 

.icon .wi
{
    font-size: 77px;
    position: absolute;
    top: 0px;
}

.city-info, .weather-info, .weather-current-details
{
    width: 79%;
    height: 25%;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
}

.weather-current-details:last-child
{
    border: none;
}

.temp-detail
{
    display: flex;
}

.weather-info .wi.wi-cloudy
{
    font-size: 30px;
}

.weather
{
    font-size: 17px;
}

.Cloud
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.temp-detail .wi.wi-degrees
{
    font-size: 46px;
}

.city, .month-date
{
    font-size: 18px;
    color: white;
}

.swiper-container 
{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    z-index:0;

}

.swiper-slide 
{
 
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
    -webkit-box-shadow: -1px 6px 12px 1px rgba(0,0,0,1);
    -moz-box-shadow: -1px 6px 12px 1px rgba(0,0,0,1);
    box-shadow: -1px 6px 12px 1px rgba(0,0,0,1);
    color: white;
  }  

.card-temp1, .card-temp2, .card-temp3, .card-temp4, .card-temp5, .card-temp6, .card-temp7
 .card-day1, .card-day2, .card-day3, .card-day4, .card-day5, .card-day6, .card-day7
{
    font-size: 30px;
}  

.wi.wi-day-cloudy, .wi.wi-cloud, .wi.wi-rain, .wi.wi-cloudy, .wi.wi-sprinkle, .wi.wi-storm-showers, .wi.wi-day-sunny-overcast
{
    font-size: 60px;
}

.temp.wi.wi-degrees
{
    font-size: 40px;
}

.temp-div
{
    display:flex;

}

.card-icon .wi.wi-degrees
{
    font-size: 40px;
}

section
{
    width:auto;
    height: 100vh;
    background-color: rgba(66, 92, 129, 0);;
    overflow-y: scroll
}

nav.navbar
{
    background-color: #805fcb;
    color: #ffffff;
    top: 0;
    z-index: 1;
    width:100%;
}

#current-date-month
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.current-date
{
    margin-bottom: 8px;
    font-size: 15px;
    margin-left: 5px;
}

.current-month
{
    font-size: 18px;
}

.icon
{
    background-position: center;
    background-size: cover;
    width: 60px;
    height:60px;
}

#search-icon
{
    margin: 10px;
    font-size: 17px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.form-control
{
    background-color: rgba(253, 249, 249, 0);
    width: 276px;
}

.form-control::placeholder
{
    color: white;
}

.input-group-append .form-control:focus
{
    background-color: rgba(253, 249, 249, 0);
    border: none;
    color: white;
}

.last-box
{
    display: flex;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(128, 95, 203);
    overflow-y: hidden;
    transition: 0.5s;
    display: none;
}

.overlay .closebtn {
    position: absolute;
    top: 46px;
    right: 21px;
    font-size: 38px;
    color: white;
}

#mobile-search-bar
{
    padding: 50px 20px;
}

#moblie-search-input
{
    width:100%;
    height:45px;
    border: none;
    color: #ffffff;
    padding-left:35px;
}

#mobile-search-icon
{
    position: absolute;
    top: 60px;
    font-size: 18px;
    left:11px;
}

#moblie-search-input::placeholder
{
    padding-left: 10px;
    font-size: 18px;
}

#mobile-icon
{
    font-size: 17px;
    margin: 16px;
    display: none;

}

@media screen and (max-width: 600px) {
    .overlay, #mobile-icon{
        display: block;
    }

    #search-bar
    {
        display: none;
    }
    #search-icon
    {
        display: block !important;
    }

    
}

@media screen and (max-height:360px){
    main{
        height: 75%;
    }
    .info{
        height:80%;
        display: flex;
        align-items: center;
    }
    #myNav{
        height: 30% !important ;
    }
}










